* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  gap: 10px;
  width: 90%;
  margin: 20px auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;

  display: block;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  height: 80vh;
}

table tbody {
  display: table;
  width: 100%;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #282a35;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
td {
  font-size: 16px;
}
tr:hover {
  color: #fff;
  background-color: #04aa6d;
}

button {
  padding: 2px 5px;
  cursor: pointer;
}
